html, body {
  height: 100%;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  background-image: url(https://source.unsplash.com/featured/1600x900);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#ghari{
background-color: #ffd6d6 ;
  font-size: 100px;
  opacity: 0.5;
  text-align: center;
  height: 140px;
  width: 600px;
}
button, .select{
  background-color: #ffd6d6 ;
  opacity: 0.5;
  text-decoration-color: #500707;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  height: 50px ;
  width: 300px;
}